<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>GOLF Greta</title>
</head>
<body>
<!-- Header -->
<header th:fragment="html_navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GOLF Greta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/golf}" href="#">golf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/parcour}">parcour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/trou}">trou</a></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Header -->

<!-- Footer -->
<footer th:fragment="html_footer" class="bg-light text-center text-lg-start">
    <!-- Grid container -->
<!--    <div class="container p-4">-->
<!--        &lt;!&ndash;Grid row&ndash;&gt;-->
<!--        <div class="row">-->
<!--            Grid column-->
<!--            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">-->
<!--                <h5 class="text-uppercase">Footer Content</h5>-->

<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis-->
<!--                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam-->
<!--                    voluptatem veniam, est atque cumque eum delectus sint!-->
<!--                </p>-->
<!--            </div>-->
<!--            &lt;!&ndash;Grid column&ndash;&gt;-->

<!--            &lt;!&ndash;Grid column&ndash;&gt;-->
<!--            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                <h5 class="text-uppercase">Links</h5>-->

<!--                <ul class="list-unstyled mb-0">-->
<!--                    <li>-->
<!--                        <a href="#!" class="text-dark">Link 1</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash;Grid column&ndash;&gt;-->

<!--            &lt;!&ndash;Grid column&ndash;&gt;-->
<!--            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                <h5 class="text-uppercase mb-0">Links</h5>-->

<!--                <ul class="list-unstyled">-->
<!--                    <li>-->
<!--                        <a href="#!" class="text-dark">Link 1</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">GOLF Greta</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>